.DS_Store
*.d
*.o
Makefile
spacenavd/src/config.h
spacenavd/spacenavd
libspnav/spnav_config.h
libspnav/libspnav.a
libspnav/libspnav.dylib
spnavcfg/spnavcfg
libspnav/examples/cube/cube
libspnav/examples/simple/simple_x11
libspnav/examples/simple/simple_x11.dSYM
libspnav/examples/simple/simple_af_unix.dSYM
libspnav/examples/simple/simple_af_unix
*.pyc
3DconnexionClient
3DconnexionClient.framework
